useDynLib( RefBasedMI, .registration=TRUE )
export(RefBasedMI)
import("mice")
importFrom( "stats", "as.ts", "median", "model.matrix", "model.response", "pt", "runif", "var", "reshape" )
importFrom("utils", "capture.output")